*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: rgb(36, 28, 28);
    color: white;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
   font-family: "Rubik";

}
header{
    background: linear-gradient(to left,rgba(99, 8, 99, 0.791),rgb(47, 47, 125));
    text-align: center;
    padding: 3%;
    box-shadow: 0 0 25px rgba(181, 84, 84, 0.764);
    border-radius: 20px;
    width: 90%;
    margin: 5px auto;
    margin-top: 30px;
}

header a{
    color: rgb(255, 0, 0);

}
header h1{
    font-size: 2.7rem;
    color: rgb(193, 25, 25);
}
nav a{
    text-decoration: none;
    color: wheat;
    font-size: 1.3rem;
    margin-right: 30px;
    transition: 0.4s;
    font-weight: 500;
    padding: 5px 5px;
}
@media(max-width:768px){
    nav{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    nav a{
        margin-right: 0;
    }
}
nav a:hover{
    color: rgb(83, 207, 83);
    background-color: bisque;
    border-radius: 10px;
    color: black;
    transform: scale(1.075);
}
@keyframes a{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(0);
    }
}
.game-part{
    color: rgb(167, 75, 98);
    font-size: 1.2rem;
    text-align: center;
}
.game-part h2{
    color: rgb(204, 230, 230);
    font-size: 1.6rem;
    margin-bottom: 10px;
    margin-top: 20px;
}
.game-part p{
    color: rgb(129, 176, 203);
}
.game-part a{
    text-decoration: none;
    color: rgb(183, 44, 242);
}
.game-part a:hover{
    color: rgb(14, 182, 194);
}
.containor{
    margin-top: 50px;
    padding: 60px 150px;
}
@media (max-width:768px) {
    .containor{
        padding: 40px 20px;
    }
}
.intro{
    text-align: center;
    margin-bottom: 17px;
}
.intro h2{
    font-size: 1.65rem;
    color: white;
    text-shadow: 0 0 30px rgb(143, 25, 143);
    margin-top: -85px;
}
@media (max-width:768px){
    .intro h2{
        margin-top: -30px;
    }
}
.intro p{
    color:rgb(255, 212, 212) ;
    font-size: 1.25rem
}
.game-card img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    aspect-ratio: 3 / 4;
    padding-top: 10px;
}
.game-card{
    background-color: black;
    flex: 1;
    border-radius: 20px;
    box-shadow: 0 0 15px rgb(83, 6, 83);
    overflow: hidden;
    margin-top: 30px;
    margin: 30px 0;
    transition: 1.75s;
    padding: 6px 15px;
    width: 32%;
}
@media (max-width:768px) {
    .game-grid{
        flex-direction: row;
        gap: 10px;
        justify-content: baseline;
    }
    .game-card{
        width: 32%;
        margin: 10px 0;
        padding: 5px;
    }
    .game-card p{
        display: none;
    }
    .game-asdf{
        padding: 5px;
    }
}
.game-card:hover{
    color: rgb(41, 104, 231);
    transform: scale(1.075);

}
footer{
    background-color: black;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    margin: 15px auto 20px;
    transition: 1.5s;
}
.game-asdf{
    background-color: beige;
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    width: 90%;
    display: inline-block;
    font-size: 1.1rem;
    box-shadow: 0 0 15px gray;
    margin-bottom: 20px;
    margin-top: 20px;
    animation: a 1.5s ease-in-out infinite;
    padding: 5px;
}
@media(max-width:768px){
    .game-asdf{
        width: 80%;
    }
}
.game-grid{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.game-12345{
    background-color: beige;
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    width: 50%;
    display: inline-block;
    font-size: 22px;
    box-shadow: 0 0 15px gray;
    margin:20px 30px ;
    transition: 1.5s;
}
.game-12345:hover{
    transform: scale(1.075);
}
.game-grid img{
    aspect-ratio: 3 / 4;
    object-fit: cover;
}
.pepe{
    line-height: 10px;
}
footer:hover{
    transform: scale(1.05);
}
.game-card h3{
    font-size: 1.2rem;
}
.game-card p{
    font-size: 0.75;
}
@media(max-width:768px){
    .game-card h3{
        font-size: 0.7rem;
    }
    .game-asdf{
        font-size: 0.6rem;
    }
}
@media(max-width:480px){
    .game-card h3{
        font-size: 0.4;
    }
    .game-asdf{
        font-size: 0.3rem;
    }
}
.game-card p{
    font-size: 1rem;
}